# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# React
frontend-web/node_modules/
frontend-web/build/
frontend-web/.env.local
frontend-web/.env.development.local
frontend-web/.env.test.local
frontend-web/.env.production.local
frontend-web/npm-debug.log*
frontend-web/yarn-debug.log*
frontend-web/yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep
.vercel
